<div class="component-main-container">
  <h2>Experiencia laboral y referencias</h2>

  <form action="" autocomplete="off" class="work-experience-references">
    <div class="input-field">
      <label for="job-name">Puesto de trabajo</label>
      <input type="text" id="job-name" />
    </div>
    <div class="input-field">
      <label for="work-place">Lugar de trabajo / empresa</label>
      <input type="text" id="work-place" />
    </div>
    <div class="input-field">
      <label for="start-date">Fecha de inicio</label>
      <input type="date" id="start-date" />
    </div>
    <div class="input-field">
      <label for="end-date">Fecha de salida</label>
      <input type="date" id="end-date" />
    </div>
    <div class="input-field">
      <label for="activities">Actividades</label>
      <textarea type="string" id="activities" style="resize: none"></textarea>
    </div>
    <div class="input-field">
      <label for="leaving-reason">Motivo de salida</label>
      <input type="text" id="leaving-reason" />
    </div>
  </form>
</div>
