.navbar {
  align-items: center;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  height: 7rem;
  padding: 0 var(--space-content-border-horizontal);
  width: 100%;
  box-shadow: 1px 1px 7px var(--box-shadow);
}

.logo {
  height: 5rem;
}

/*the different options available on navbar*/
.menu-options {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.menu-options  .option  span {
  margin-right: 0.5em;
}

hr {
  display: none;
}

.menu-options .option {
  cursor: pointer;
  margin-right: 1em;
  transition: transform 0.3s ease-in-out;
}

.menu-options .option:last-child {
  margin-right: 0;
}

.option:hover {
  transform: scale(1.05);
}

.menu {
  display: none;
}

.dropdown {
  display: none;
}

@media (max-width: 910px) {
  .navbar {
    justify-content: space-between;
  }


  .menu-options li:nth-last-child(3) {
    display: none;
  }

  .menu-options > .option{
    margin-right: 0;
  }

  .menu-options {
    display: flex;
    flex-direction: column;
  }

  hr {
    display: block;
    margin: 0.5em 0;
  }

  .menu {
    cursor: pointer;
    display: block;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }

  .menu:hover {
    transform: scale(1.05);
  }

  .menu-icon {
    font-size: 30px;
  }

  /*dropdown is not displayed when menu button is not pressed*/
  .dropdown {
    background-color: var(--default-background);
    border-radius: 1px;
    box-shadow: 2px 1px 5px var(--box-shadow);
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    position: absolute;
    right: var(--space-content-border-horizontal);
    top: 7em;
    width: 16rem;
    z-index: 99;
    display: none;
  }

  /*when menu button is pressed dropdown is displayed*/
  .dropdown-visible {
    display: block;
  }
}
