.navbar {
    align-items: center;
    /* background-color: var(--navbar-color); */
    color: var(--black-text);
    /* border-bottom: 2px solid var(--black-text); */
    display: flex;
    justify-content: space-between;
    height: 7rem;
    padding: 1.5em;
    width: 100%;

    box-shadow: 1px 1px 7px var(--box-shadow-navbar) ;
}

.logo {
    height: 5rem;
}


.general-options {

    display: flex;
    justify-content: space-around;
    list-style-type: none;

}
.general-options > .option > span{
    margin-right: 0.5em;
}

hr {
    display: none;
}

.general-options>.option,
.option {
    cursor: pointer;
    margin-right: 1em;
    transition: transform 0.3s ease-in-out;
}

.general-options>.option:last-child,
.option:last-child {
    margin-right: 0em;  
}

.option:hover{
    transform: scale(1.05);
}

.menu {
    display: none;
}
.dropdown{
    display: none;
}

@media (max-width: 910px) {
    .navbar {
        justify-content: space-between;
    }

    .general-options {
        display: block;
    }

    .general-options>li:nth-last-child(3) {
        display: none;
    }

    .general-options>.option,
    .option {
        margin-right: 0em;
    }

    .general-options {
        display: flex;
        flex-direction: column;
    }

    hr {
        display: block;
        margin: 0.5em 0;
    }

    .menu {
        cursor: pointer;
        display: block;
        text-align: center;
        transition: transform .3s ease-in-out;
    }

    .menu:hover {
        transform: scale(1.05);
    }

    .menu-icon {
        font-size: 30px;

    }

    .dropdown {
        background-color: white;
        border-radius: 1px;
        box-shadow: 2px 1px 5px var(--box-shadow-navbar);
        display: flex;
        flex-direction: column;
        padding: 0.8em;
        position: absolute;
        right: 1.5em;
        top: 6em;
        width: 16rem;
        z-index: 99;
        visibility: hidden;
    }

    .dropdown-visible{
       visibility: visible;
    }
  
}