<nav class="navbar" #navbar>
    <!-- <h2>HELPERMX</h2> -->
    <img alt="Problema al cargar la imagen" class="navbar__logo" src="/assets/images/helperlogoalto.png" />

    <ul class="navbar__options" #generalOptionsFirst>
        <li class="navbar__option" [routerLink]="''">
            <span class="material-icons-outlined navbar__icon">home</span>Inicio
        </li>
        <hr class="navbar__hr" />
        <li class="navbar__separator">|</li>
        <li class="navbar__option" [routerLink]="'/applicant/register'">
            <span class="navbar__icon material-icons-outlined ">work_outline</span>¿Buscas trabajo?
        </li>
        <hr class="navbar__hr" />
    </ul>

    <ul class="navbar__options" #generalOptionsSecond>
        <li class="navbar__option" [routerLink]="'/auth/signin'">
            <span class="navbar__icon material-icons-outlined">login</span>Inicia
            sesión
        </li>
        <li class="navbar__separator">|</li>
        <hr />
        <li class="navbar__option" [routerLink]="'/auth/signup'">
            <span class="navbar__icon material-icons-outlined">assignment_ind</span>Registrate
        </li>
    </ul>

    <div class="navbar__dropdown" [ngClass]="{ 'navbar__dropdown--visible': isMenuOpen == true }"  #dropdown></div>
    <div class="navbar__icon-container" (click)="toggleMenu()">
        <span class="navbar__icon material-icons-outlined"> menu </span>
        <p class="navbar__menu-label">Menú</p>
    </div>
</nav>