<nav class="" #navbar>
    <!-- <h2>HELPERMX</h2> -->
    <img src="/assets/images/helperlogoalto.png"  alt="Problema al cargar la imagen" class="">



    <ul class="" #generalOptionsFirst>
        <li class="" [routerLink]="''"><span class="material-icons-outlined" >home</span>Inicio</li>
        <hr />
        <li class="">|</li>
        <li class="" [routerLink]="'/applicant/register'"><span class="material-icons-outlined">work_outline</span>¿Buscas trabajo?</li>
        <hr/>
    </ul>

    <ul class="" #generalOptionsSecond>
        <li class="" [routerLink]="'/auth/signin'"><span class="material-icons-outlined">login</span>Inicia sesión</li>
        <li class="">|</li>
        <hr />
        <li class="" [routerLink]="'/auth/signup'"><span class="material-icons-outlined">assignment_ind</span>Registrate</li>
    </ul>

    <div [ngClass]="{'dropdown-visible': isMenuOpen == true}" class="" #dropdown ></div>
    <div class="" (click)="toggleMenu()">
        <span class="material-icons-outlined menu-icon">
            menu
        </span>

        <p>Menú</p>
    </div>
</nav>