<div class="main-container">
    
    <h3 class="title">La ayuda que necesitas</h3>

    <div class="jobs-pictures">
        <div class="job-card">
            <img src="../../../assets/images/domestica.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Personal doméstico</p></div>
        </div>
        <div class="job-card">
            <img src="../../../assets/images/nana.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Nana</p></div>
        </div>
        <div class="job-card">
            <img src="../../../assets/images/nanaconvisa.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Nana con visa</p> </div>
        </div>
        <div class="job-card">
            <img src="../../../assets/images/maestra.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Docente</p></div>
        </div>
        <div class="job-card">
            <img src="../../../assets/images/administrativo.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Personal administrativo</p> </div>
        </div>
        <div class="job-card">
            <img src="../../../assets/images/Chofer.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Chofer</p></div>
        </div>
        <div class="job-card">
            <img src="../../../assets/images/Mozo.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Mozo</p></div>
        </div>

        <div class="job-card">
            <img src="../../../assets/images/Vigilantes.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Vigilantes</p></div>
        </div>
        <div class="job-card">
            <img src="../../../assets/images/asistente_personal.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Asistente</p> personal</div>
        </div>
    </div>

</div>
