.navbar {
    align-items: center;
    background-color: var(--navbar-color);
    color: var(--white-text);
    display: flex;
    justify-content: space-between;
    height: 6rem;
    padding: 1.5em;
    ;
    width: 100%;

}

.navbar>.options {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navbar> .options> .option {
    cursor: pointer;
    margin-right: 1em;
}

.navbar > .options > .option:last-child{
    margin-right: 0em;
}
