<div class="navbar">
    <!-- <h2>HELPERMX</h2> -->
    <img src="../../../../assets/images/helperlogoalto1.webp" alt="Problema al cargar la imagen" class="logo">
    <ul class="general-options">
        <li class="option">Inicio</li>
        <li class="option">|</li>
        <li class="option">Trabaja con nosotros</li>
    </ul>

    <ul class="general-options">
        <li class="user-option">Inicia sesión</li>
        <li class="option">|</li>
        <li class="user-option">Registrate</li>
    </ul>
</div>