<div class="component-main-container">

  <form action="" class="personal-info-form" autocomplete="off">
    <h2>Información personal y de contacto</h2>
    <div class="input-field">
      <label for="fullname">Nombre completo</label>
      <input type="text" id="fullname" />
    </div>
  
    <div class="input-field">
      <label for="about-me"
        >¿Quieres describirte? ¿Necesitas específicar algo?</label>
      <textarea type="text" id="about-me" style="resize: none"></textarea>
    </div>
  
    <div class="input-field">
      <label for="birthdate">Introduce tu fecha de nacimiento</label>
      <input type="date" id="birthdate" />
    </div>
  
    <div class="input-field">
      <label for="age">Introduce tu edad</label>
      <input type="int" id="age" />
    </div>
  
    <div class="input-field">
      <label for="gender">¿Con que género te identificas</label>
      <!--Aqui va un if con todos los generos guardados en la bd-->
      <select id="gender">
        <option value="1">Masculino</option>
        <option value="2">Femenino</option>
        <option value="3">Femenino</option>
        <option value="4">No binario</option>
        <option value="5">Otro/prefiero no decir</option>
      </select>
    </div>
  
    <div class="input-field">
      <label for="street">Calle</label>
      <input type="text" id="street" />
    </div>
  
    <div class="input-field">
      <label for="neighborhood">Colonia</label>
      <input type="text" id="neighborhood" />
    </div>
  
    <div class="input-field">
      <label for="city">Ciudad</label>
      <input type="text" id="city" />
    </div>
  
    <div class="input-field">
      <label for="state">Estado</label>
      <input type="text" id="state" />
    </div>
  
    <div class="input-field">
      <label for="zip-code">Código postal</label>
      <input type="text" id="zip-code" />
    </div>
  
    <div class="input-field">
      <label for="phonenumber-1">Télefono 1</label>
      <input type="tel" id="phonenumber-1" />
    </div>
  
    <div class="input-field">
      <label for="phonenumber-2">Télefono 2</label>
      <input type="tel" id="phonenumber-2" />
    </div>
  
    <div class="input-field">
      <label for="body-piecing">¿Tienes perforacionesa visibles?</label>
      <select id="body-piercing">
        <option value="1">Sí</option>
        <option value="0" selected>No</option>
      </select>
    </div>
  
    <div class="input-field">
      <label for="tattoos">¿Tienes tatuajes visibles?</label>
      <select id="tattoos">
        <option value="1">Sí</option>
        <option value="0" selected>No</option>
      </select>
    </div>
  
    <div class="input-field">
      <label for="children">¿Tienes hijos?</label>
      <input type="text" id="children" />
    </div>
  
    <div class="input-field">
      <label for="marital-status">Estado civil</label>
      <select id="marital-status">
        <option value="1">Soltero/a</option>
        <option value="2">Casado/a</option>
        <option value="3">Viudo/a</option>
        <option value="4">Unión libre</option>
        <option value="5">Divorciado/a</option>
        <option value="6">Seperado/a</option>
      </select>
    </div>
  
    <div class="input-field">
      <label for="education-level">Ultimo grado de estudios</label>
      <select name="" id="education-level">
        <option value="1">Primaria</option>
        <option value="2">Secundaria</option>
        <option value="3">Bachillerato/Preparatoria</option>
        <option value="4">Licenciatura</option>
        <option value="5">Universidad trunca</option>
        <option value="6">Carrera técnica</option>
        <option value="7">Maestría</option>
        <option value="8">Doctorado</option>
        <option value="9">Sin estudios</option>
      </select>
    </div>
  
    <div class="input-field">
      <label for="id-job-status">pendiente job status</label>
      <input type="text" id="id-job-status" />
    </div>
  
    

  
  </form>
</div>

