<div class="">
  <!-- <p>Width = {{screenwidth}}</p> -->

  <h3 class="">La ayuda que necesitas</h3>

  <div class="">
    <div class="">
      <img src="/assets/images/domestica.jpeg" alt="" class="" />
      <div class=""><p>Personal doméstico</p></div>
    </div>
    <div class="">
      <img src="/assets/images/nana.jpeg" alt="" class="" />
      <div class=""><p>Nana</p></div>
    </div>
    <div class="">
      <img src="/assets/images/nanaconvisa.jpeg" alt="" class="" />
      <div class=""><p>Nana con visa</p></div>
    </div>
    <div class="">
      <img src="/assets/images/maestra.jpeg" alt="" class="" />
      <div class=""><p>Docente</p></div>
    </div>
    <div class="">
      <img src="/assets/images/administrativo.jpeg" alt="" class="" />
      <div class=""><p>Personal administrativo</p></div>
    </div>
    <div class="">
      <img src="/assets/images/Chofer.jpeg" alt="" class="" />
      <div class=""><p>Chofer</p></div>
    </div>
    <div class="">
      <img src="/assets/images/Mozo.jpeg" alt="" class="" />
      <div class=""><p>Mozo</p></div>
    </div>

    <div class="">
      <img src="/assets/images/Vigilantes.jpeg" alt="" class="" />
      <div class=""><p>Vigilantes</p></div>
    </div>
    <div class="">
      <img src="/assets/images/asistente_personal.jpeg" alt="" class="" />
      <div class=""><p>Asistente personal</p></div>
    </div>
  </div>

  <div class="">
    <a
      href="https://www.facebook.com/profile.php?id=100063455624161&_rdc=1&_rdr"
    >
      <img src="https://img.icons8.com/fluency/240/facebook.png" alt="facebook"
    /></a>
    <h3>Servicio en todo México</h3>
    <p>Llamanos 56 20 26 30 52</p>

    <p>
      Río Balsas 16 Col. Cuauhtémoc, Alcaldía Cuauhtémoc, CP. 06500 CDMX, México
    </p>
  </div>
</div>
