<div class="main-container">
    <!-- <p>Width = {{screenwidth}}</p> -->
    
    <h3 class="title">La ayuda que necesitas</h3>

    <div class="cards-container">
        <div class="card">
            <img src="../../../assets/images/domestica.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Personal doméstico</p></div>
        </div>
        <div class="card">
            <img src="../../../assets/images/nana.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Nana</p></div>
        </div>
        <div class="card">
            <img src="../../../assets/images/nanaconvisa.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Nana con visa</p> </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/maestra.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Docente</p></div>
        </div>
        <div class="card">
            <img src="../../../assets/images/administrativo.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Personal administrativo</p> </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/Chofer.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Chofer</p></div>
        </div>
        <div class="card">
            <img src="../../../assets/images/Mozo.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Mozo</p></div>
        </div>

        <div class="card">
            <img src="../../../assets/images/Vigilantes.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Vigilantes</p></div>
        </div>
        <div class="card">
            <img src="../../../assets/images/asistente_personal.webp" alt="" class="card-img"/>
            <div class="card-text"><p>Asistente personal</p> </div>
        </div>
    </div>

    <div class="contact-info">
       <a href="https://www.facebook.com/profile.php?id=100063455624161&_rdc=1&_rdr"> <img src="https://img.icons8.com/fluency/240/facebook.png" alt="facebook"/></a>
        <h3>Servicio en todo México</h3>
        <p>Llamanos 56 20 26 30 52</p>

        <p>Río Balsas 16 Col. Cuauhtémoc, Alcaldía Cuauhtémoc, CP. 06500 CDMX, México</p>
    </div>
</div>
