<div class="component-main-container">
  <h2>Información médica</h2>
  <form action="" autocomplete="off" class="medical-info">
    <div class="input-field">
      <label for="applicant-condition"
        >Escoge tantas opciones con las que te sientas identificado/a</label
      >

      <div class="options-container">
        <button class="option-button" type="text" id="applicant-condition">
          Puedo subir escaleras
        </button>
        <button class="option-button" type="text" id="applicant-condition">
          Hago ejercicio por lo menos 2 veces a la semana
        </button>
        <button class="option-button" type="text" id="applicant-condition">
          Me fatigo rápido
        </button>
        <button class="option-button" type="text" id="applicant-condition">
          Puedo levantar objetos pesadas
        </button>
      </div>
    </div>

    <div class="input-field">
      <label for="applicant-allergie"
        >¿Tienes alergias? Seleccionalas, de lo contrario omite esta
        sección</label
      >

      <div class="options-container">
        <button class="option-button" type="text" id="applicant-allergie">
          Perros
        </button>
        <button class="option-button" type="text" id="applicant-allergie">
          Gatos
        </button>
        <button class="option-button" type="text" id="applicant-allergie">
          Polvo
        </button>
        <button class="option-button" type="text" id="applicant-allergie">
          Tortugas
        </button>
      </div>
    </div>

    <div class="input-field">
      <label for="applicant-disability"
        >Padeces de alguna condicion que te limite en algunas actividades?,
        Seleccionalas, de lo contrario omite esta sección</label
      >
      <div class="options-container">
        <button class="option-button" type="text" id="applicant-disability">
          Amputación de brazo
        </button>
        <button class="option-button" type="text" id="applicant-disability">
          Amputación de pierna
        </button>
        <button class="option-button" type="text" id="applicant-disability">
          Autismo
        </button>
        <button class="option-button" type="text" id="applicant-disability">
          Discapacidad auditiva
        </button>
      </div>
    </div>

    <div class="input-field">
      <label for="weight">Peso en kilogramos</label>
      <input type="text" id="weight" />
    </div>

    <div class="input-field">
      <label for="height">Altura</label>
      <input type="text" id="heigth" />
    </div>
  </form>
</div>
