<div class="container">
  <h2 class="container__title">Información médica</h2>

  <form action="" autocomplete="off" class="form">

    <div class="form__form-field">
      <label class="form__label" for="applicant-condition">Escoge tantas opciones con las que te sientas identificado/a</label>

      <div class="form__options-container" id="applicant-condition">

        <button *ngFor="let condition of conditionList" class="option-button" type="button">
          {{condition}}
        </button>
      
      </div>
    </div>

    <div class="form_form-field">
      <label class="form__label" for="applicant-allergie">¿Tienes alergias? Seleccionalas, de lo contrario omite esta
        sección</label>

      <div class="form__options-container" id="applicant-allergie">

        <button *ngFor="let allergie of allergieList" class="option-button" type="button">
          {{allergie}}
        </button>
       
      </div>
    </div>

    <div class="form__form-field">
      <label class="form__label" for="applicant-disability">Padeces de alguna condicion que te limite en algunas actividades?,
        Seleccionalas, de lo contrario omite esta sección</label>

      <div class="form__options-container" id="applicant-disability">

        <button *ngFor="let disability of disabilityList" class="form__option-button" type="button">
          {{disability}}
        </button>

      </div>
    </div>

    <div class="form__form-field">
      <label class="form__label" for="weight">Peso en kilogramos</label>
      <input class="form__input-text" type="text" id="weight" />
    </div>

    <div class="form__form-field">
      <label class="form__label" for="height">Altura</label>
      <input class="form__input-text" type="text" id="heigth" />
    </div>
  </form>
</div>