<div class="container">
  <div class="progress-bar">
    <div class="progress-bar__" #progressBar></div>
  </div>
  <!-- <p>{{progress}}</p> -->

  <h1 class="container__title">Registro</h1>
  <p class="container__info">
    Esta información servirá para crear tu curriculum virtual y poder encontrar
    el mejor trabajo para ti
  </p>

  <personal-info-form class="container__form" [ngClass]="{
      'container__form--visible': currentForm == 1,
      'container__form--invisible': currentForm !== 1
    }"></personal-info-form>
  <medical-info-form [ngClass]="{ 'container__form--visible ': currentForm == 2 }"></medical-info-form>
  <job-profile-form [ngClass]="{ 'container__form--visible ': currentForm == 3 }"></job-profile-form>
  <job-history-and-reference-form [ngClass]="{ 'container__form--visible ': currentForm == 4 }"></job-history-and-reference-form>

  <div class="container__navigation-buttons">
    <button  class="container__previous-form" (click)="previousForm()"  type="button">Atrás</button>
    <button  class="container__next-form" (click)="nextForm()"  type="button">Siguiente</button>
  </div>
</div>