<div class="page-main-container">

  <div class="flex-center">
    <div class="progress-bar" >
      <div class="progress" #progressBar></div>
    </div>
    <!-- <p>{{progress}}</p> -->

    <h1>Registro</h1>
    <p>
      Esta información servirá para crear tu curriculum virtual y poder
      encontrar el mejor trabajo para ti
    </p>

    <personal-info-form [ngClass]="{'form-visible ': currentForm == 1, 'form-invisible': currentForm !== 1}"></personal-info-form>
    <medical-info-form  [ngClass]="{'form-visible ': currentForm == 2}"></medical-info-form>
    <job-profile-form  [ngClass]="{'form-visible ': currentForm == 3}"></job-profile-form>
    <job-history-and-reference-form [ngClass]="{'form-visible ': currentForm == 4}"></job-history-and-reference-form>
    
    <div class="buttons">
        <button (click)="previousForm()" type="button" class="previous">Atrás</button>
        <button (click)="nextForm()" type="button" class="next">Siguiente</button>
    </div>

  </div>
</div>
