<div class="page-main-container">
  <div class="flex-container">
    <img
      src="/assets/images/helperlogoalto.png"
      alt="HelperMX"
    />

    <form action="" autocomplete="off" class="signin-form">
      <div class="input-field">
        <label for="username">Usuario o correo</label>
        <input id="username" placeholder="UsuarioHelper" type="text" />
      </div>
      <div class="input-field">
        <label for="password">Contraseña</label>
        <input id="password" placeholder="contraseña" type="password" />
      </div>
      <button type="button">Iniciar sesión</button>
      <a [routerLink]="'/auth/signup'">¿Aún no tienes una cuenta? Haz click aquí para registrarte</a>
    </form>
  </div>
</div>
