<div class="component-main-container">

    <h2>Respecto a tu trabajo...</h2>
    <form action="" autocomplete="off" class="job-profile">
        <div class="input-field">
          <label for="applicant-workhour"
            >Selecciona el tipo de jornada laboral que deseas ejercer</label
          >
          <div class="options-container" id="applicant-workhour">
            <button class="option-button" type="button" >
              Planta (con salida cada 8 días)
            </button>
            <button class="option-button" type="button">
              Planta (con salida cada 15 días)
            </button>
            <button class="option-button" type="button">
              Entrada por salida (8 horas)
            </button>
            <button class="option-button" type="button">
              Ocasional
            </button>
          </div>
        </div>
      
        <div class="input-field">
          <label for="applicant-desired-job"
            >Selecciona el trabajo que deseas ejercer (puedes elegir más de
            uno)</label
          >
          <div class="options-container" id="applicant-desired-job">
            <button class="option-button" type="button" >
              Empleado/a doméstica
            </button>
            <button class="option-button" type="button" >
              Chofer
            </button>
            <button class="option-button" type="button" >
              Enfermera
            </button>
            <button class="option-button" type="button" >
              Cuidadora
            </button>
          </div>
        </div>
      
        <div class="input-field">
          <label for="applicant-activity"
            >En base al/los trabajo/s deseado/s, selecciona tus habilidades</label
          >
          <div class="options-container" id="applicant-activity">
            <button class="option-button" type="button" >
              Cocina
            </button>
            <button class="option-button" type="button" >
              Cuidado de adultos mayores
            </button>
            <button class="option-button" type="button" >
              Cuidado de bebés
            </button>
            <button class="option-button" type="button" >
              Cuidado de niños
            </button>
            <button class="option-button" type="button" >
              Planchado
            </button>
          </div>
        </div>
      
        <div class="input-field">
          <label for="applicant-language">Selecciona los idiomas que hablas</label>
          <div class="options-container"id="applicant-language" >
            <button class="option-button" type="button" >
              Español
            </button>
            <button class="option-button" type="button" >
              Inglés
            </button>
            <button class="option-button" type="button" >
              Francés
            </button>
            <button class="option-button" type="button" >
              Portugués
            </button>
            <button class="option-button" type="button" >
              Italiano
            </button>
          </div>
        </div>
    </form>
</div>