<div class="container">

  <h2 class="container__title">Respecto a tu trabajo...</h2>
  <form action="" autocomplete="off" class="form">
    <div class="form__form-field">
      <label class="form__label" for="applicant-workhour">Selecciona el tipo de jornada laboral que deseas ejercer</label>
      <div class="form__options-container" id="applicant-workhour">
        <button *ngFor="let workhour of workhourList" class="form__option-button" type="button">
          {{workhour}}
        </button>
      </div>
    </div>

    <div class="form__form-field">
      <label class="form__label" for="applicant-desired-job">Selecciona el trabajo que deseas ejercer (puedes elegir más de
        uno)</label>
      <div class="form__options-container" id="applicant-desired-job">
        <button *ngFor="let job of jobList" class="form__option-button" type="button">
          {{job}}
        </button>
      </div>
    </div>

    <div class="form__form-field">
      <label class="form__label" for="applicant-activity">En base al/los trabajo/s deseado/s, selecciona tus habilidades</label>
      <div class="form__options-container" id="applicant-activity">
        <button *ngFor="let activity of activityList" class="form__option-button" type="button">
          {{activity}}
        </button>
      </div>
    </div>

    <div class="form__form-field">
      <label class="form__label" for="applicant-language">Selecciona los idiomas que hablas</label>
      <div class="form__options-container" id="applicant-language">
        <button *ngFor="let language of languageList" class="form__option-button" type="button">
          {{language}}
        </button>
      </div>
    </div>
  </form>
</div>