/* You can add global styles to this file, and also import other style files */
:root{
    --navbar-color: #726CA8;
    --white-text: #eaeaea;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}