/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/*
:root {
  --dark-main-color: #605b8b;
  --default-background: white;
  --main-color: #726ca8;
  --light-main-color: #908cb8; 
  --padding-input: 1em;
  --space-top-bottom: 3em; 
  --space-left-right: 3em;
  --space-content-border-horizontal: 32px;
  --space-content-border-vertical: 24px;
  --screen-small: 620px;
  --screen-medium: 910px;
  --white: #e6e6e6;
}
*/

:root{
  /* --background-color: #f8f8ff; */
  --background-color: white;

  --black: #282828;
  --white: #e6e6e6;
  --padding-X: 3em;
  --padding-Y: 3em;
  --primary-color: #726ca8;
  --primary-color-subtle: #908cb8;
  --primary-color-emphasis: #605b8b;
  --font-size-standard: 16px;
  --font-size-medium: 24px;
  --font-size-large: 32px;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  /* color: var(--black); */
  color: var(--dark-main-color);
}

html,body{
  background-color: var(--background-color);
}

.flex-row{
  display: flex;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}